<!DOCTYPE html>
<html>

<head>
    <title></title>
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
</head>
<body>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="lib/require.js"></script>
    <script type="text/javascript">
    require.config({
        "baseUrl": "js",
        "paths": {
            'react': 'react.min',
            'jquery': 'jquery-2.1.1.min'
        }
    })
    require(['js/app'], function(app) {
      app.init()
    })
    </script>
</body>

</html>
